@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>
<form>
    <label for="Name">Name:</label>
    <input type="text" name="Name" />

    <label for="Mobile">Number:</label>
    <div id="dynamic-number">
        <input type="text" name="Mobile[]" />
    </div>
    <input type="button" value="Add" id="add-number"/>
    <input type="button" value="Remove" id="remove-number"/>

    <label for="Email">Email:</label>
    <input type="text" name="Email[]" />



    <label for="Address">Address:</label>
    <textarea name="Address"></textarea>    
    
    <label for="OfficeContact">Office Contact:</label>

    <input type="text" name="OfficeContact" />
    <label for="HomeContact">Home Contact:</label>
    <input type="text" name="HomeContact" />

    <label for="Image">Image:</label>
    <input type="file" name="Image" />
</form>

<script type='text/javascript'>
		$(function(){
			$('#remove-number').hide();
			$('#add-number').click(function(e){
				e.preventDefault();
				$('#dynamic-number').append('<br/><input  type="text" name="Mobile[]" >');
				if($('#dynamic-number input').size() > 1){
					$('#remove-number').show();
				}

			});
			
			$('#remove-number').click(function(e){
				e.preventDefault();
				$('#dynamic-number input:last').remove();
				$('#dynamic-number br:last').remove();
				
				
				if($('#dynamic-number input').size() < 2){
					$('#remove-number').hide();
					
				}
				
				
			});
		});

</script>